@{
    ViewBag.Title = "Index";
}

<h2>Publicacion de Contenidos</h2>

@Html.ActionLink("Libro","Index","UpLoadLibro") <br />
@Html.ActionLink("Artículo","Editor", "PublicacionContenidos") <br />
@Html.ActionLink("Tutorial o Curso", "TinyEditor", "PublicacionContenidos") <br />

