@{
    ViewBag.Title = "Index";
}

<h2>Index Publicacion de Contenidos</h2>

@Html.ActionLink("Libro","Index","UpLoadLibro") <br />
@Html.ActionLink("Artículo","","") <br />
@Html.ActionLink("Tutorial y Curso","","") <br />

